.MainLayout {
    width: 100vw;
    width: 100%;
    height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__Container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.UserForm {
    max-width: 700px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__Container {
        max-width: 400px;
        width: 100%;
        max-height: 700px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__Title {
        font-size: 32px;
        font-weight: 700;
    }

    &__Name {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

        & > label {
            font-size: 20px;
            font-weight: 600;
        }

        & > input {
            width: 100%;
            padding: 5px;
            background-color: rgba(#fff, .1);
            border-radius: 8px;
            font-weight: 600;
            font-size: 20px;
            color: #fff;
        }
    }

    &__ButtonSave {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__Button {
            max-width: 200px;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border: 3px solid #00FF00;
            border-radius: 12px;
            background-color: transparent;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
        }
    }

    

    &__UserButtonDelete {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__Button {
            max-width: 200px;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border: 3px solid #FF0000;
            border-radius: 12px;
            background-color: transparent;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;

            & > span {
                font-size: 20px;
                font-weight: 600;
            }

            & > svg {
                color: #FF0000;
            }
        }
    }

    &__LinkCF {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: #8A2BE2;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}