.AuthLayout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__Container {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.AuthForm {
    max-width: 600px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__Container {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &__Title {
            font-size: 32px;
            font-weight: 700;
        }

        &__Name {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            gap: 10px;

            & > label {
                font-weight: 600;
                font-size: 20px;
            }

            & > input {
                width: 100%;
                height: 46px;
                padding: 5px;
                font-weight: 600;
                font-size: 20px;
                color: #fff;
                border: 2px solid #8A2BE2;
                border-radius: 8px;
                background-color: rgba(#fff, .1);
            }
        }

        &__Error {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & > p {
                font-size: 16px;
                color: #FF0000;
            }
        }

        &__ButtonSub {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            > button {
                max-width: 200px;
                width: 100%;
                height: 50px;
                padding: 10px;
                background-color: #8A2BE2;
                font-size: 20px;
                color: #fff;
                border-radius: 12px;

                &[disabled=true] {
                    background-color: rgba(#8A2BE2, .5);
                }
            }
        }

        &__OtherLinks {
            > span {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                gap: 10px;

                & > a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    font-size: 16px;
                    color: #8A2BE2;
                }
            }
        }
    }
}